<div class="logo-bar-wrapper">
	<div class="logo-bar" style="background-image: url({{ 'logo-white.svg' | asset_url }});"></div>
	<div class="logo-bar" style="background-image: url({{ 'logo-white.svg' | asset_url }});"></div>
	<div class="logo-bar" style="background-image: url({{ 'logo-white.svg' | asset_url }});"></div>
</div>
