.featured-collection {
  position: relative;
  overflow-x: hidden;
}

.featured-collection .title-wrapper {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.featured-collection .title-wrapper.center {
  padding-left: 0;
}

@media screen and (min-width: 750px) {
  .featured-collection .title-wrapper {
    padding-left: 3rem;
  }

  .featured-collection .title-wrapper-with-link--no-heading {
    margin-top: 6rem;
  }

  .featured-collection--carousel {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 3rem;
    align-items: center;
    padding-left: 3rem;
  }

  .featured-collection--carousel .title-wrapper {
    margin-bottom: 9.3rem;
  }
}

@media screen and (min-width: 1500px) {
  .featured-collection .title-wrapper {
    margin-left: calc(50vw - 72rem);
  }

  .featured-collection--carousel {
    margin-left: calc(50vw - 72rem);
  }
  
  .featured-collection--carousel .title-wrapper {
    margin-left: 0;
  }
}
